<?xml version="1.0" encoding="utf-8"?>
<packages>
<!--
	<package id="Metalama.Framework" version="0.1.4-build-312" targetFramework="netstandard2.0" />
	<package id="Metalama.TestFramework" version="0.1.4-build-312" targetFramework="netstandard2.0" />
	<package id="Metalama.Framework.Sdk" version="0.1.4-build-312" targetFramework="netstandard2.0" />
	<package id="Metalama.Framework.Redist" version="0.1.4-build-312" targetFramework="netstandard2.0" />
	-->
    <package id="docfx.console" version="2.59.0" />
	<package id="memberpage" version="2.59.0" />
	<package id="mermaid.renderer" version="1.0.1" />
</packages>
