---
uid: video-architecture-verification
---

# Video tutorial: verifying architecture

[!metalama-vimeo 849469382]

> [!div class="see-also"]
> <xref:validation>
> <xref:validating-usage>
> <xref:naming-conventions>
