---
uid: video-architecture-verification
summary: "This is a video tutorial on verifying architecture, with additional references on validation, validating usage, and naming conventions."
---

# Video tutorial: verifying architecture

[!metalama-vimeo 849469382]

> [!div class="see-also"]
> <xref:validation>
> <xref:validating-usage>
> <xref:naming-conventions>

